<h3>Welcome to CheapFlights.com</h3>

<h1>Here are our available flights</h1>

<table>
  <tr>
    <th>date</th>
    <th>departure_city</th>
    <th>arrival_city</th>
  </tr>

<% @flights.each do |f| %>
  <tr>
    <td><%= flights.date %></td>
    <td><%= flights.departure_city %></td>
    <td><%= flights.arrival_city %></td>
    <td><%= link_to "Purchase", purchase_path %></td>
  </tr>
<% end %>
</table>

<br>
